<div id="legend-title">{{=it.name}}</div>
<div>
    <span class="legend-color" style="background:{{=it.arrColor[0]}}"></span>
    <span class="legend-name">{{=it.arrName[0]}}</span>
</div>
<div>
    <span class="legend-color" style="background:{{=it.arrColor[1]}}"></span>
    <span class="legend-name">{{=it.arrName[1]}}</span>
</div>
<div>
    <span class="legend-color" style="background:{{=it.arrColor[2]}}"></span>
    <span class="legend-name">{{=it.arrName[2]}}</span>
</div>
<div>
    <span class="legend-color" style="background:{{=it.arrColor[3]}}"></span>
    <span class="legend-name">{{=it.arrName[3]}}</span>
</div>